{% extends 'base.html.twig' %}

{% block title %}Hello LivreController!{% endblock %}

{% block body %}
    {% for Livre in Livres %}
    <div class="card my-5 mx-5" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Le livre N°{{Livre.id}}</h5>
            <p class="card-text">{{Livre.titre}}
                                    {{Livre.auteur}}
                                    {{Livre.resume}}
                                    {{Livre.dateParution|date('d/m/Y')}}
                                    {{Livre.status}}
                                    {{Livre.emprunteur}}
            </p>
            <a href="livre{{Livre.id}}" class="btn btn-primary">Voir détails</a>
        </div>
    </div> 
{% endfor %}
{% endblock %}
