{% extends 'base.html.twig' %}

{% block title %}Hello LivreController!{% endblock %}

{% block body %}
    {% for livre in livres %}
    <div class="card my-5 mx-5" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Le livre N°{{livre.id}}</h5>
            <p class="card-text">{{livre.titre}}
                                    {{livre.auteur}}
                                    {{livre.resume}}
                                    {{livre.dateParution|date('d/m/Y')}}
                                    {{livre.status}}
                                    {{livre.category}}
            </p>
            <a href="livre/{{livre.id}}" class="btn btn-primary">Voir détails</a>
        </div>
    </div>
{% endfor %}
{{dump(livres)}}
{% endblock %}
