{% extends 'base.html.twig' %}

{% block title %}Nos ouvrages{% endblock %}
  {% block aside %}
    {% for livre in livres %}
      <div class="card my-5 mx-5 d-flex flex-row justify-content-center align-items-center flex-wrap" style="width: 18rem;">
          <div class="card-body">
              <h5 class="card-title text-center">{{livre.titre}}</h5>
              <ul class="card-text">
                <li>Auteur : {{ livre.auteur }}</li>
                <li>Date : {{ livre.dateParution|date('d/m/Y') }}</li>
                <li>Status : {{ livre.status }}</li>
                <li>Category : {{ livre.category.name }}</li>
              </ul>
              <a href="livre/{{livre.id}}" class="btn btn-primary d-flex flex-row justify-content-center">Voir détails</a>
          </div>
      </div>
    {% endfor %}
  {% endblock %}
