{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block aside %}
  {% for emprunteur in emprunteurs %}
      <div class="card my-5 mx-5 d-flex flex-row justify-content-around align-items-center flex-wrap" style="width: 18rem;">
          <div class="card-body">
              <h5 class="card-title">{{emprunteur.nom}}{{emprunteur.prenom}}</h5>
              <p class="card-text">{{emprunteur.numero}}</p>
              <a href="emprunteur/{{emprunteur.id}}" class="btn btn-primary">Voir détails</a>
          </div>
      </div>
  {% endfor %}
    {% for bibliotchaire in bibliothecaires %}
      <div class="card my-5 mx-5 d-flex flex-row justify-content-around align-items-center flex-wrap" style="width: 18rem;">
          <div class="card-body">
              <h5 class="card-title">{{bibliotchaire.username}}</h5>
          </div>
      </div>
  {% endfor %}
{% endblock %}
